
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <div class="container" style="margin-top:50px; margin-bottom:40px">
        <div class="col-md-9">
            <h1 class="title-blue" style="text-align: center">APTITS - Privacy Policy</h1>
            <div style="padding-left: 100px">

                <p>APT IT SOLUTIONS has taken every possible precaution to ensure the accuracy of the information on its website; the content is subject to change at any point in time. We would not stand responsible for any damages arising out of the use of the content available on this server.</p>
                <p>We assure that all our downloadable training content is free of viruses. However, APT IT SOLUTIONS can accept no liability for damages if accessed through unsafe media or an unsecured network resulting in virus infection.</p>

                <p><strong>Information collected by APT IT SOLUTIONS</strong></p>
                <ul>
                    <li>The information provided by you is totally under your control.</li>
                    <li>No third party will be given access to your information for any kind of marketing or sold or exchanged.</li>
                    <li>Browsing our website can be done without registration. We may randomly collect and store the information that you willingly disclose to us and access our free tests and discussion forums. We do not share your personal information with any third party. We do not collect information from sources like email databases, private/public organizations, or bodies about our visitors.</li>
                    <li>The information collected by us will only be used to contact you to inform you about new products or provide support on your issues via email or telephone. You can unsubscribe at any point if you do not want us to contact you via email.</li>
                    <li>Your personal information such as name, telephone number, address(es), e-mail address, credit card number, expiration, and CVV number entered by you is required when you purchase our online products or register for training or consultancy charges. All transactions are done under a highly secured encryption environment (SSL) by our payment gateway service provider, and we do not store any such information on our servers.</li>
                </ul>

                <p><strong>Changes to Privacy Policy</strong></p>
                <ul>
                    <li>This privacy policy's terms may change from time to time, and we reserve the right to change the terms of this privacy policy as and when required. All our registered users will be notified by email when we update the privacy policy.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

