
@{
    ViewBag.Title = "Refund policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <div class="container" style="margin-top:50px;margin-bottom:40px">
        <div class="col-md-9">
            <div style="padding-left:100PX">
                <h1 class="title-blue" style="text-align:center">APTITS - Refund Policy</h1>
                <p>Thank you for purchasing our APT IT SOLUTIONS Products or Services. By purchasing any of the Products or Services from APT IT SOLUTIONS, you agree to our Privacy Policy, Terms of Use, and Refund policy.</p>

                <p><strong>Products, Services Charges</strong></p>
                <ul>
                    <li>Developer efforts for 1 hour = INR 2,500 + Taxes</li>
                    <li>Web Designer efforts for 1 hour = INR 2,300 + Taxes</li>
                    <li>DBA efforts for 1 hour = INR 3,500 + Taxes</li>
                    <li>Mobile App Developer efforts for 1 hour = INR 5,000 + Taxes</li>
                </ul>

                <p><strong>Refund:</strong></p>
                <ul>
                    <li>Client shall pay to APT IT SOLUTIONS for the products and services costs as agreed.</li>
                    <li>Client shall be updated daily/weekly on the progress made in the development of products and services, and upon the Client's satisfaction, the Client payment will be made to APT IT SOLUTIONS every 2 weeks or at the time frequency agreed with the Client.</li>
                    <li>Once registered for the services, and if the Client wants to discontinue the training for any reason, APT IT SOLUTIONS has the right to deduct charges to cover the costs of demo sessions, training expenses, administrative costs, and server usage.</li>
                    <li>If the Client wants a refund after using the product for 3 months, APT IT SOLUTIONS will not provide any refund.</li>
                </ul>

                <p><strong>Refund - Cancellation:</strong></p>
                <ul>
                    <li>APT IT SOLUTIONS reserves the right to postpone/cancel the delivery of the deliverables because of insufficient Requirements, lack of clarity on Requirements, or catastrophic events (like floods, earthquakes, political instability, etc.).</li>
                    <li>In case of any unforeseen circumstances, the Client is entitled to reschedule for a future scheduled date of the deliverables.</li>
                </ul>

                <p><strong>Refund - Duplicate payment:</strong></p>
                <ul>
                    <li>Refund of the duplicate payment made by the Client will be processed via the same source (original method of payment) within 10 working days post intimation by the Client and after approval by APT IT SOLUTIONS.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

